[submodule "examples"]
	path = examples
	url = https://github.com/novalagung/dasarpemrogramanrust-example.git
[submodule "src"]
	path = src
	url = https://github.com/novalagung/my-docusaurus-global-src.git
